{{!-- 这个模板是用来渲染需要往客户端发送的文章概要数据 --}} 
{{#each abstracts }}
<div class="card row">
  <div class="author">
    <a href="javascript:void(0)" class="avatar">
      <img src="static/image/1_circle.jpg" alt="avatar" class="img-circle">
    </a>
    <a href="" class="nickname">{{meta.author}}</a>
    <span class="time">
      <small>{{meta.releaseTime}}</small>
    </span>
  </div>
  <div class="abstract">
    <div class="content col-md-9 col-xs-9">
      <h3 class="title">
        <a href={{meta.url}} class="link">
          <strong>{{{raw.title}}}</strong>
        </a>
      </h3>
      <p>{{{raw.body}}}</p>
    </div>
    {{#if raw.img}}
    <div class="preview col-md-3 col-xs-3">
      <a href="" >
      {{{raw.img}}}
      </a>
    </div>
    {{/if}}
  </div>
  <div class="meta">
    <a href="javascript:void(0)" class="tag collection-tag">{{meta.tag}}</a>
    <a href="javascript:void(0)" class="tag browse">
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      <span class="badge">{{meta.browse}}</span>
    </a>
    <a href="javascript:void(0)" class="tag love">
      <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
      <span class="badge">{{meta.love}}</span>
    </a>
    <a href={{meta.praise.url}} class="tag praise">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <span class="badge">{{meta.praise.count}}</span>
    </a>
    <a href="javascript:void(0)" class="tag comment">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      <span class="badge">{{meta.comment}}</span>
    </a>
  </div>
</div>
{{/each}}





    {{!-- <div class="card row">
      <div class=" author">
        <a href="#" class="avatar">
          <img src="static/image/1.jpg" alt="avatar">
        </a>
        <a href="#" class="nickname">username</a>
      </div>
      <div class=" abstract ">
        <div class="content col-md-9 col-xs-9">
          dfasdfasdfasdfaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa，《旅行青蛙》的火爆全靠朋友圈里大家的主动安利
        </div>
        <div class="preview col-md-3 col-xs-3">
          <img src="static/image/1.jpg" alt="xx">
        </div>
      </div>
      <div class=" meta ">
        <a href="#" class="tag">
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          <span class="badge">99</span>
        </a>
        <a href="#" class="tag">
          <span class="glyphicon glyphicon-heart-empty"></span>
          <span class="badge">收藏</span>
        </a>
        <a href="#" class="tag">
          <span class="glyphicon glyphicon-comment"></span>
          <span class="badge">评论</span>
        </a>
      </div>
    </div> --}}